*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
}
nav{
    background-color: purple;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-shadow: 1px 1px 5px black;
}
p{
    margin-top: 20px;
    text-align: center;
}
h2{
    text-align: center;
}
.visual > div{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    bottom: 0%;
}
.pads{
    background: black;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
}
.pads > div{
    height: 100px;
    width: 100px;
    flex: 1;
}
.j,.R{
    color: #60d394;
}
.o, .a2{
    color: #d36060;
}
.b,.h{
    color: #c060d3;
}
.a,.m{
    color:#d3d160;
}
.y,.a3{
    color:#606bd3;
}
.e,.n{
    color:#60c2d3;
}
.r{
    color:purple;
}
.pad1{
    background: #60d394;
  }
  .pad2 {
    background: #d36060;
  }
  .pad3 {
    background: #c060d3;
  }
  .pad4 {
    background: #d3d160;
  }
  .pad5 {
    background: #606bd3;
  }
  .pad6 {
    background: #60c2d3;
  }

  @keyframes jump {
    0% {
      bottom: 0%;
      left: 20%;
    }
    50% {
      bottom: 50%;
      left: 50%;
    }
  
    100% {
      bottom: 00%;
      left: 80%;
    }
  }